<li>
	{{id}})
	{{burgerName}}
	{{#if ready}} <button class="burger-time" data-id="{{id}}" data-status="{{ready}}">
		EATTT!
	</button>
	{{/if}}

	<button class="delete" data-id="{{this.id}}">DELETE!</button>
</li>
